<body>
    <div class="wrapper">
        <div class="form-box login">
            <h2>Forgot Password</h2>
            <form [formGroup]="sendMailForm" (ngSubmit)="forgotSubmit()">
                <div class="input-box">
                    <span class="icon"><mat-icon>email</mat-icon></span>
                    <input type="text" formControlName="email" required>
                    <label>Email</label>
                    <div class="form-text text-danger pt-2" *ngIf="email.errors?.['required'] && (email.touched || email.dirty || invalid)"> 
                        Email is required.
                    </div>
                    <div class="form-text text-danger pt-2" *ngIf="email.errors?.['email'] && (email.touched || email.dirty)"> 
                        Email is not valid.
                    </div>
                    
                </div>
                <button type="submit" class="bttn"> Send Mail</button>

                
                <div class="login-register">
                    <p>Continue to Login? <a routerLink="/login" class="register-link">Login</a></p>
                </div>
            </form>
            <!-- <div>
                <span *ngIf="!showResend">
                    {{counterSec}}seconds

                  </span>
                 <button type="submit" class="bttn" *ngIf="showResend" (click)="resendOtp()"> resend otp</button>

            </div> -->
        </div>
    </div>
</body>
