<app-usernav></app-usernav>
<div >
  
  
<!-- banners start -->
<div  id="carouselExampleCaptions" class="carousel slide carousel-fade p-3 rounded-3" data-bs-ride="carousel"
  style="border-radius:20px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/BANNER/243303-monochrome-black-and-white-and-football-hd.jpg"
        class="d-block w-100 custom-image-size" alt="...">
      <div class="carousel-caption ">
        <h1>Create Tournaments</h1>
        <h4>Where Champions Are Born - Launch Your Tournament Now!</h4>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../../../assets/BANNER/mwallpapers-real-madrid-wallpaper-android-iphone-hd-wallpaper-background-downloadhd-wallpapers-desktop-background-android-iphone-1080p-4k-u9ysx.png"
        class="d-block w-100 custom-image-size" alt="...">
      <div class="carousel-caption ">
        <h1>Register Tournaments</h1>
        <h4>Don't miss your chance to shine! Sign up now for epic tournament battles.</h4>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/BANNER/5UZAgs.webp" class="d-block w-100 custom-image-size" alt="...">
      <div class="carousel-caption">
        <h1>Watch Tournaments</h1>
        <h4>Catch the action, feel the excitement - tune in to our live tournaments.</h4>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- banners end -->
<!-- tournaments list start -->
<div class="border-3 mt-5 p-3 rounded-3 trnmnt container" *ngIf="approveTournament.length>0">
  <h1 style="font-weight: 500;">Tournament List</h1>
  <div class="row" >
    <div class="col-md-3 col-sm-6  rounded shadow mb-3" *ngFor="let t of approveTournament">
      <div class="card card-block" >
        <img [src]="getPosterImage(t.posterImage?t.posterImage:'')" alt="Photo of sunset">
        <p class="card-title text-center pt-2 text-uppercase fs-5" >{{ t.tournamentName }}</p>
        <div class="d-flex justify-content-center align-items-center fs-4">
          <span class="material-icons" style="color: #201E20; font-size: 20px;">location_on</span>
          <span class="card-text  ms-1">{{ t.location }}</span>
          <span class="card-text text-success ms-3 ">{{ t.registerFee | currency:'INR':'symbol':'1.2-2'}}</span>
        </div>
        <div class="d-flex justify-content-center p-2" [routerLink]="['/registerTournament',t._id]">
          <button mat-fab extended color="primary">
            <mat-icon>file_download_done</mat-icon>
            Register Now          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-5 " [routerLink]="['/explore']">
    <button class="btn btn-outline-dark p-2">More Tournaments</button>
  </div>
</div>

<!-- tournament list ended -->
<!--advetaisement tournament start -->
<div class="container addvertisement mt-5 shadow">
  <div class="add">
    <h1 class="pt-4">Your Ultimate Tool for Stress-Free Tournament Management!</h1>
    <p class="lead">Elevate your tournament experience with our feature-packed platform.</p>
  </div>
</div>
<!--advetaisement tournament end -->
<!--Live tournament start -->



<div *ngIf="livetournamentList$ | async as tournaments">
  <div class="border-3 mt-5 p-3 rounded-3 trnmnt container" *ngIf="tournaments.length > 0">
    <h1 style="font-weight: 500;">Live Tournaments</h1>
    <div class="row">
      <div class="col-md-3 col-sm-6 rounded shadow mb-3" *ngFor="let t of tournaments.slice(0,4)">
        <div class="card card-block" >
          <img [src]="getPosterImage(t.posterImage?t.posterImage:'')" alt="Photo of sunset">
          <p class="card-title text-center pt-2 text-uppercase fs-5" >{{ t.tournamentName }}</p>
          <div class="d-flex justify-content-center align-items-center fs-4">
            <span class="material-icons" style="color: #201E20; font-size: 20px;">location_on</span>
            <span class="card-text  ms-1">{{ t.location }}</span>
          </div>
          <div class="d-flex justify-content-center p-2" [routerLink]="['/fixture',t._id]">
            <button mat-fab extended color="primary">
              <mat-icon>sports_soccer</mat-icon>Fixture</button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-5 " [routerLink]="['/explore']">
      <button class="btn btn-outline-dark p-2">More Tournaments</button>
    </div>
  </div>
  <div *ngIf="tournaments.length === 0" class="p-5"  style="font-weight: 300;">
    <p class="text-center fs-3">No live tournaments available.</p>
  </div>
</div>

<!--Live tournament end -->


</div>

<app-footer></app-footer>
