<app-usernav></app-usernav>
<!-- banners start -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade p-3 rounded-3" data-bs-ride="carousel"
  style="border-radius:20px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/BANNER/243303-monochrome-black-and-white-and-football-hd.jpg"
        class="d-block w-100 custom-image-size" alt="...">
      <div class="carousel-caption ">
        <h1>Create Tournaments</h1>
        <h4>Where Champions Are Born - Launch Your Tournament Now!</h4>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="../../../../assets/BANNER/mwallpapers-real-madrid-wallpaper-android-iphone-hd-wallpaper-background-downloadhd-wallpapers-desktop-background-android-iphone-1080p-4k-u9ysx.png"
        class="d-block w-100 custom-image-size" alt="...">
      <div class="carousel-caption ">
        <h1>Register Tournaments</h1>
        <h4>Don't miss your chance to shine! Sign up now for epic tournament battles.</h4>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/BANNER/5UZAgs.webp" class="d-block w-100 custom-image-size" alt="...">
      <div class="carousel-caption">
        <h1>Watch Tournaments</h1>
        <h4>Catch the action, feel the excitement - tune in to our live tournaments.</h4>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- banners end -->
<!-- tournaments list start -->
<div class="container border-3 mt-5 pt-5">
  <h1 style="font-weight: 50px; ">Tournament List</h1>
  <div class="row ">
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
        <img src="../../../../assets/Tournaments/55efdc6ea34c2aace2494845c0cdd3eb.jpg" alt="Photo of sunset">
        <h5 class="card-title ">Sevens football tournament</h5>
        <p class="card-text">Manjeri sevens stadium</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
        <img
          src="../../../../assets/Tournaments/football-tournament-poster-design-template-63aae37beb3e70596d5e8771dd9c9f5c_screen.jpg"
          alt="Photo of sunset">
        <h5 class="card-title">Fives football tournament</h5>
        <p class="card-text">Kannur arena turf</p>

      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
        <img
          src="../../../../assets/Tournaments/futsal-football-tournament-poster-template-289ade08dc068db3c99df8e1a50cbbed_screen.jpg"
          alt="Photo of sunset">
        <h5 class="card-title ">Nines football tournament</h5>
        <p class="card-text">Jawaharlal nehru stadium cochi</p>

      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
        <img src="../../../../assets/Tournaments/poster1.jpg" alt="Photo of sunset">
        <h5 class="card-title  ">Levens football tournament</h5>
        <p class="card-text">Kaloor stadium</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-5">
    <button class="btn btn-outline-dark p-2 ">MoreTournament </button>
  </div>
</div>
<!-- tournament list ended -->
<!--advetaisement tournament start -->
<div class="container addvertisement mt-5 shadow">
  <div class="add">
    <h1 class="pt-4">Your Ultimate Tool for Stress-Free Tournament Management!</h1>
    <p class="lead">Elevate your tournament experience with our feature-packed platform.</p>
    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-outline-dark py-2 ">Add Tournament</button>
    </div>
  </div>
</div>
<!--advetaisement tournament end -->
<!--Live tournament start -->
<div class="container border-3 mt-5 pt-5">
  <h1 style="font-weight: 50px; ">Live Tournaments</h1>
  <div class="row ">
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
        <img src="../../../../assets/Tournaments/55efdc6ea34c2aace2494845c0cdd3eb.jpg" alt="Photo of sunset">
        <h5 class="card-title ">Sevens football tournament</h5>
        <p class="card-text">Manjeri sevens stadium</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
        <img
          src="../../../../assets/Tournaments/football-tournament-poster-design-template-63aae37beb3e70596d5e8771dd9c9f5c_screen.jpg"
          alt="Photo of sunset">
        <h5 class="card-title">Fives football tournament</h5>
        <p class="card-text">Kannur arena turf</p>

      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
        <img
          src="../../../../assets/Tournaments/futsal-football-tournament-poster-template-289ade08dc068db3c99df8e1a50cbbed_screen.jpg"
          alt="Photo of sunset">
        <h5 class="card-title ">Nines football tournament</h5>
        <p class="card-text">Jawaharlal nehru stadium cochi</p>

      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
        <img src="../../../../assets/Tournaments/poster1.jpg" alt="Photo of sunset">
        <h5 class="card-title  ">Levens football tournament</h5>
        <p class="card-text">Kaloor stadium</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-3">
    <button class="btn btn-outline-dark p-2 ">MoreTournament </button>
  </div>
</div>
<!--Live tournament end -->
<div class="pt-2">
  <app-footer></app-footer>
</div>