<app-usernav></app-usernav>
<div>
  <div class='container mx-auto mt-5 col-md-6 mt-100'>
    <div class="header">
      <div class="title">Registered Teams</div>
      <!-- <p><small class="text-muted">{{ tournamentData[0]?.tournamentId.tournamentName }}</small></p> -->
    </div>
    <div class="row justify-content-center p-5">
      <div class="card col-md-12 mt-100" *ngFor="let t of teamsData">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="profile"> <img [src]="getLogo(t.teamLogo ? t.teamLogo:'')"> </div>
            <div class="card-title mt-4"> {{t.teamName}}<br /> <small>Head of marketing at K mart</small> </div>
            <div class="card-subtitle">
              <p> <small class="text-muted"> I expected anything less than perfect for the team of experts. They are the best team ever! </small> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<app-footer></app-footer>
