<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav " fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <h1 class="text-center fs-3 p-3 fw-600">Admin</h1>
      <a class="list-group-item text-center d-flex justify-content-center align-items-center sidenav-link p-5 mt-2 " style="height: 40px;" [routerLink]="['/admin/dashboard/charts']">
        <span class="material-icons me-2" style="vertical-align: middle;">dashboard</span>Dashboard
      </a>
      <a class="list-group-item text-center d-flex justify-content-center align-items-center sidenav-link p-5 mt-2 " style="height: 40px;" [routerLink]="['/admin/dashboard/userList']">
        <span class="material-icons me-2" style="vertical-align: middle;">people_alt</span>User List
      </a>
      <a class="list-group-item text-center d-flex justify-content-center align-items-center sidenav-link p-5" style="height: 40px;" [routerLink]="['/admin/dashboard/managerList']">
        <span class="material-icons me-2" style="vertical-align: middle;">manage_accounts</span>Manager List
      </a>
      <a class="list-group-item text-center d-flex justify-content-center align-items-center sidenav-link p-5" style="height: 40px;" [routerLink]="['/admin/dashboard/approvals']">
        <span class="material-icons me-2" style="vertical-align: middle;">done_outline</span>Approvals <span class="badge bg-primary p-2 w-50 ms-2">{{ approvalLength }}</span> 
      </a>
      <a class="list-group-item text-center d-flex justify-content-center align-items-center sidenav-link p-5" style="height: 40px;">
        <span class="material-icons me-2" style="vertical-align: middle;">sports_soccer</span>Tournaments
      </a>
      <a class="list-group-item text-center d-flex justify-content-center align-items-center sidenav-link p-5" style="height: 40px;" (click)="logout()">
        <span class="material-icons me-2" style="vertical-align: middle;">logout</span>Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="Primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="ms-3"><img src="../../../../assets/logo/SS BLACK.png" width="180px" height="80px" alt=""></span>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
