<app-manager-nav></app-manager-nav>
<div class="proimg">
    <div class="proinside">
        <div class="proinsidecontent">
            <h1>Create Football Tournament</h1>
            <p>Embark on an unforgettable journey through the world of soccer as you craft the ultimate Football Tournament,
                 where passion meets competition, and every match ignites the spirit of the beautiful game.
                 Unleash the thunderous roar of the pitch,
                 
                 as teams clash in an epic showdown on the grand stage of the Football Tournament, where dreams are scored and champions are crowned.
                  
            </p>
            <a class="btn btn-primary pe-5 ps-5" routerLink="/manager/addTournament">Add Tournament</a>
        </div>
    </div>
</div>
<app-manager-footer></app-manager-footer>