<app-manager-nav></app-manager-nav>
<div class="proimg">
    <div class="proinside">
        <div class="proinsidecontent">
            <h1>Create Football Tournament</h1>
            <p>Welcome to the heart of the action, where every decision shapes the destiny of the ultimate football spectacle. 
                Unveil the passion and skill as the battleground ignites with the roar of the crowd, marking the rise of
                 champions and the creation of unforgettable football history
            </p>
            <a class="btn btn-primary pe-5 ps-5" routerLink="/manager/addTournament">Add Tournament</a>
        </div>
    </div>
</div>
<app-manager-footer></app-manager-footer>
