<app-usernav></app-usernav>
<div class="container ">
    <div class="row ">
        <div class="profile-nav col-md-3 pt-5 ">
            <div class="panel">
                <div class="user-heading round">
                    <a >
                        <img src="assets/image/1.jpg" alt="">
                    </a>
                    
                    <h1>{{ name | uppercase }}</h1>
                    <p class="text-success">Wallet : 00</p>
                </div>
                
            </div>
        </div>
        <div class="profile-info col-md-9 pt-5">
            <div class="row  ">
                <div class="card-image bg-warning h-75 w-100 d-flex justify-content-center align-items-center position-relative hide-on-mobile">
                    <a class="pt-5">
                        <img src="assets/image/1.jpg" alt="">
                    </a>
                </div>
                
                
                <div class="card pt-5">
                    <div class="position-absolute bottom-0 end-0 mb-3 me-3">
                        <button class="btn btn-dark" (click)="editProfile()">Edit Profile</button>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title m-b-20 p-b-5 b-b-default f-w-600">My Profile</h1>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Name</p>
                                <h3 class="text-muted f-w-400">{{ name }}</h3>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Email</p>
                                <h3 class="text-muted f-w-400">{{ email }}</h3>
                            </div> 
                        </div>         
                    </div>
                </div>
        </div>
    </div>
    </div>
</div>


<app-footer></app-footer>

