
.container{
    min-height: 70vh;
}

@media (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}


.card-image{
    background-image: url('../../../../assets/stadium/champions-league-stadium-football-sports-game-soccer-stadium-wallpaper-preview.jpg');
    background-position: center;
    background-size: cover;
}

.profile-nav .user-heading {
    background: #000000;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
}


 img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-nav .user-heading p {
    font-size: 12px;
}

.profile-nav ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #000000;
    
}


.profile-nav ul > li > a > i{
    font-size: 16px;
    padding-right: 10px;
    color: #000000;
}

