<form [formGroup]="formData" (ngSubmit)="Saveuser()" >
<h1 mat-dialog-title>{{ inputData.title }}</h1>
<div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" readonly>
    </mat-form-field>
</div>
<div mat-dialog-actions>
   <button mat-dialog-close   mat-raised-button color="warn">Close</button>
   <button mat-raised-button   color="primary">Save</button>
</div>
</form>
