/* Default styles for the sidebar */
.container.sidebar {
  /* Your existing sidebar styles here */
  background-color: #000000; /* Background color */
  color: #fff; /* Text color */
  width: 24%; /* Sidebar width */
  position: fixed;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}

.container.sidebar .toggle-button {
  display: none; /* Initially hide the toggle button */
  cursor: pointer;
  padding: 10px;
}

/* Sidebar items styles */
.container.sidebar .sidebar-items {
  padding-top: 10px;
}

.container.sidebar .sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.2s;
}

.container.sidebar .sidebar-item:hover {
  background-color: #555; /* Hover background color */
  cursor: pointer;
}

.container.sidebar .icon {
  font-size: 24px; /* Icon size */
  margin-right: 10px;
}

/* Media query for screens up to 768px wide (adjust as needed) */
@media screen and (max-width: 768px) {
  .container.sidebar {
      width: 0;
      overflow-x: hidden;
  }

  .container.sidebar.active {
      transform: translateX(0);
  }

  .container.sidebar .toggle-button {
      display: block;
  }

  .container.sidebar .sidebar-items {
      display: none; /* Hide sidebar items by default */
      flex-direction: column; /* Stack items vertically */
  }

  .container.sidebar .sidebar-item {
      margin-left: 0; /* Reset margin for mobile view */
  }

  /* Show sidebar items when the sidebar is active */
  .container.sidebar.active .sidebar-items {
      display: block;
  }
}

