<div class="container sidebar">
    <div class="col-md-8 mx-auto" style="padding-top: 10%;">
        <div id="sidebarToggle" class="toggle-button">
            <span class="icon pe-3 text-white"><mat-icon>menu</mat-icon></span>
        </div>
        <div class="sidebar-items">
            <div class="sidebar-item" routerLink="/admin/dashboard">
                <span class="icon pe-3 text-white"><mat-icon>dashboard</mat-icon></span>
                <a class=" text-white"  >Dashboard</a>
            </div>
            <div class="sidebar-item" routerLink="/admin/userList">
                <span class="icon pe-3 text-white"><mat-icon>people_alt</mat-icon></span>
                <a class=" text-white" >User List</a>
            </div>
            <div class="sidebar-item" routerLink="/admin/managerList">
                <span class="icon pe-3 text-white"><mat-icon>manage_accounts</mat-icon></span>
                <a class=" text-white" >Manager List</a>
            </div>
            <div class="sidebar-item">
                <span class="icon pe-3 text-white"><mat-icon>sports_soccer</mat-icon></span>
                <a class=" text-white">Tournaments</a>
            </div>
            <div class="sidebar-item"  [routerLink]="['/admin/approvals']">
                <span class="icon pe-3 text-white"><mat-icon>done_outline</mat-icon></span>
                <a class="text-white">Approvals</a>
            </div>
            <div class="sidebar-item">
                <span class="icon pe-3 text-white"><mat-icon>image</mat-icon></span>
                <a class=" text-white">Banners</a>
            </div>
        </div>
    </div>
</div>
