<li class="active" (click)="fullchat(data?.connections?.user?._id,data?.connections?.user?.name)">
    <div class="d-flex bd-highlight">
        <div class="img_cont">
            <img src="https://th.bing.com/th/id/OIP.EizhuMez_CBFCd9YYl6elQAAAA?pid=ImgDet&w=206&h=206&c=7&dpr=1.3" class="rounded-circle user_img">
            <!-- <span class="online_icon"></span> -->
        </div>
        <div class="user_info">
            <span>{{ data?.connections?.user?.name }}</span>
            <!-- <p>{{ data?.connections?.user?.name }} is online</p> -->
        </div>
    </div>
</li>
