<app-manager-nav></app-manager-nav>
<div class="main">
  <div class="container ">
    <div>
        <div class=" text-center head fs-1">{{ firstRound.tournamentId.tournamentName }}</div>
    </div>
    <div class="row gap-5 align-items-center justify-content-center">
      <div class="col-2" style="width: 30%;">
        <div class=" text-center head">Quarter Final</div>
        <div class="bg-white m-4 border shadow" style="border-radius: 10px;" *ngFor="let item of firstRound.matches,let l=index">
            <h1 class="text-center fs-3 mt-2">Match {{l+1}}</h1>
          <div class="d-flex justify-content-around align-items-center">
            <div class="h-25">
              <div class="fs-3 ms-3 mt-1 text-muted ">{{ item.team1Id.teamName | uppercase}}</div>
              <div ><img [src]="getLogo(item.team1Id.teamLogo?item.team1Id.teamLogo:'')" alt="" width="100px" height="100px"></div>
              
              <h1 class="text-center fs-1">{{ item.team1Score}}</h1>
            </div>
          
            <div style="position: relative;">
                <img src="assets/Tournaments/vs.png" alt="" width="70px" height="70px" style="position: absolute; bottom: -35px; left: 50%; transform: translateX(-50%);">
                <span class="material-icons" style="position: absolute; bottom: -70px; left: 50%; transform: translateX(-50%);">edit_note</span>
            </div>

            <div >
                <div class="fs-3  mt-1 text-muted">{{ item.team2Id.teamName | uppercase}}</div>
                <div class="rounded-circle" ><img [src]="getLogo(item.team1Id.teamLogo?item.team1Id.teamLogo:'')" alt="" width="100px" height="100px"></div>
              <h1 class="text-center fs-1">{{ item.team2Score}}</h1>
              
                
            </div>
            
          </div>
        </div>
        <!-- More similar divs with similar adjustments -->
      </div>
      <div class="col-2" style="width: 30%;">
        <div class=" text-center head">Semi Final</div>
       <!-- First Round Winners -->
       <div class="bg-white m-4 border shadow" style="border-radius: 10px; height: 30vh" *ngFor="let item of firstRound.matches | slice:0:(firstRound.matches.length/2); let i = index">
        <h1 class="text-center fs-3 mt-2">Match {{i+1}}</h1>
        <div class="d-flex justify-content-around align-items-center" style="width: 100%;">
            
            <div class="h-25 text-center" style="flex: 1;">
                <div class="fs-5 text-muted " style="line-height: 1.5;">Winner of Quarter final {{ i * 2 + 1 }}</div>
            </div>
            <h1><img src="assets/Tournaments/vs.png" alt="" width="50px" height="50px"></h1>
            <div class="h-50" style="flex: 1;">
                <div class="fs-5 text-muted " style="line-height: 1.5;">Winner of Quarter final {{ i * 2 + 2 }}</div>
            </div>
        </div>
    </div>
        
        <!-- More similar divs with similar adjustments -->
      </div>
      <div class="col-2" style="width: 30%;">
        <div class=" text-center head">Final</div>
       <!-- First Round Winners -->
       <div class="bg-white m-4 border shadow d-flex align-items-center justify-content-center" style="border-radius: 10px; height: 30vh" *ngFor="let item of firstRound.matches | slice:0:(firstRound.matches.length/4); let i = index">
        <div class="d-flex justify-content-around align-items-center" style="width: 100%;">
            <div class="h-25 text-center">
                <div class="fs-5 text-muted p-1">Winner of Semi final {{ i * 2 + 1 }}</div>
            </div>
            <h1><img src="assets/Tournaments/vs.png" alt="" width="50px" height="50px"></h1>
            <div class="h-50 ">
                <div class="fs-4 text-muted p-1">Winner of Semi final {{ i * 2 + 2 }}</div>
            </div>
        </div>
    </div>
    
  
          
        
        <!-- More similar divs with similar adjustments -->
      </div>
    </div>
  </div>
</div>
<app-manager-footer></app-manager-footer>
