.dark-table {
    background-color: #121212; // Set a dark background color
    color: #fff;              // Set text color to white or your preferred color
  }
  
  .dark-table th, .dark-table td {
    border-color: #444;       // Set border color
  }
  