 <app-manager-nav></app-manager-nav>

  <div class="main">
    <div class="col-md-9 col-12 mt-3">
          <h1 class="fs-5 fw-5 text-center my-tournaments-heading">
            MY TOURNAMENTS
          </h1>
          <ng-container *ngIf="!dataSource.data.length">
            <p class="text-center mt-5 fs-1 text-light">No tournaments enrolled yet.</p>
          </ng-container>
      <div class="mat-elevation-z8 dark-table" *ngIf="dataSource.data.length > 0">
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" >

            <!-- No. Column -->
            <ng-container matColumnDef="No.">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
            </ng-container>

            <!-- Tournament Name Column -->
            <ng-container matColumnDef="Tournament Name">
              <th mat-header-cell *matHeaderCellDef>Tournament Name</th>
              <td mat-cell *matCellDef="let element"> {{element.tournamentName}} </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.tournamentDate | date:'dd-MMMM-yyyy'}} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                  <span [ngClass]="element.is_approuve === 'rejected' ? 'text-danger' : (element.is_approuve === 'approved' ? 'text-success' : '')">
                    {{ element.is_approuve }}
                  </span>
                </td>
              </ng-container>
              
           <!-- reason Column -->

            <ng-container matColumnDef="Reason">
              <th mat-header-cell *matHeaderCellDef> Reason </th>
              <td mat-cell *matCellDef="let element">  {{ element.resonReject }}</td>
            </ng-container>

         <!-- Action Column -->


            <ng-container matColumnDef="Details">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">  
                    <button class="btn btn-outline-dark"(click)="viewDetails(element._id)">Details</button>
                    <button class="ms-2 btn btn-outline-primary" [routerLink]="['/manager/registerdTeams',element._id]"
                    *ngIf="!element.resonReject">Teams Registered</button>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[2, 4, 6]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>

  <app-manager-footer></app-manager-footer>