<li class="active" (click)="fullchat(data?.connections?.manager?._id,data?.connections?.manager?.name)">
    <div class="d-flex bd-highlight">
        <div class="img_cont">
            <img src="https://th.bing.com/th/id/OIP.L1NbRfG759Cms_gy4BX9TwAAAA?pid=ImgDet&w=300&h=300&rs=1" class="rounded-circle user_img">
            <!-- <span class="online_icon"></span> -->
        </div>
        <div class="user_info">
            <span>{{ data?.connections?.manager?.name }}</span>
            <!-- <p>{{ data?.connection?.manager?.name }} is online</p> -->
        </div>
    </div>
</li>
