.main {
    background: url('/assets/image/cristiano-ronaldo-kicking-football_1538786998.jpg.webp') no-repeat;
    height: 90%;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    min-height: 100vh;
  }
  

   .name {
    font-size: 25px;
    color:inherit;
  }


  
  
  

.my-tournaments-heading {
    font-size: 5.5rem; /* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
    color: #c4c4c4; /* Change the color to your preferred color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
    margin: 20px 0; /* Adjust the margin as needed */
  }
  
  .my-tournaments-heading:hover {
    color: #000000; /* Change the color on hover */
  }

  .custom-card {
    background-color: #2e455d;
  }
  
  .team-logo {
    width: 250px;
    height: 250px;
  }
  
  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #201E20;
    font-size: 20px;
  }
  
  .location-icon {
    margin-right: 5px;
  }
  
  .contact {
    margin-top: 10px;
  }
  
  